<!DOCTYPE html>
<html>
  <head>
    <title>Poe</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,900|Source+Code+Pro:500,700" rel="stylesheet">`
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>

    {% block main %}
    {% endblock main %}

    <script src="{{ url_for('static', filename='js/vendor/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- TODO: Use Pen for the editor -->
    <!-- https://github.com/sofish/pen -->
  </body>
</html>
