{% extends 'base.html' %}

{% block main %}
<section class="wrapper">
  <input type="text" name="author" class="author editable" placeholder="Add your name">
  <textarea name="title" placeholder="Title" class="title editable"></textarea>
  <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In illo enim quae suscipit, placeat quod eaque ipsa corporis perspiciatis veritatis provident obcaecati animi sequi, dolor facere porro. Quaerat, vel, deleniti.</p>
</section>
{% endblock main %}
