{% extends 'base.html' %}

{% block main %}
<nav>
  <ul>
    <li>
      <a href="">Share</a>
    </li>
    <li>
      <a href="">Options</a>
    </li>
    <li>
      <a href="/">New Post</a>
    </li>
  </ul>
</nav>
<section class="wrapper">
  <div class="author">
    {% if post.author %}
    <span>{{ post.author }}</span>
    {% endif %}
    <span class="date">
      {% if post.author %}
      <span>on</span>
      {% endif %}
      <span>{{ post.modified|format_date }}</span>
    </span>
  </div>
  <div class="title">{{ post.title|safe }}</div>
  <div class="content">{{ post.content|safe }}</div>
</section>
{% endblock main %}
